.btn {
	background-color: $cta-cyan-gradient;
	padding: 2rem 8rem;
	outline: none;
	border-radius: 50px;
	color: $default-font-color;
	font-weight: bold;
	font-size: 1.5rem;
	border: none;

	&:hover {
		cursor: pointer;
		background-color: darken($color: $cta-cyan-gradient, $amount: 10);
	}
}
