html {
    font-size: 62.5%;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/src/fonts/OpenSans-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/src/fonts/OpenSans-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Raleway'), local('Raleway-Regular'), url('/src/fonts/Raleway-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Raleway Bold'), local('Raleway-Bold'), url('/src/fonts/Raleway-Bold.ttf') format('woff2');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $default-font-color;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
    color: hsl(0, 0%, 100%);
}

.paragraph {
    font-size: 1.4rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}