.nav {
    //background-color: $cta-blue-gradient;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: block;

        &--img {
            max-width: 50%;
        }
    }

    &__menu {
        display: block;

        .menu-list {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__item {

                padding: 1rem 2rem;

                a {
                    color: $default-font-color;
                    text-decoration: none;
                }
            }
        }
    }
}